<div class='wrapper'>
  <%= render "devise/shared/header" %>

  <div class="items-main">
    <h2 class="items-title">予約情報変更</h2>
    <%= form_with model: @booking, local: true do |f| %>

    <%= render "devise/shared/error_messages", model: f.object %>

    <div class="new-items">
      <div class="weight-bold-text">
        予約日
        <span class="indispensable-required">必須</span>
      </div>
      <%= f.date_field :date, {class:"finld-line"} %>

      <div class="sell-btn-contents">
        <%= f.submit "変更する" ,class:"sell-btn" %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="switch">
    <%=link_to 'もどる', user_path(current_user.id), class:"item-switch" %>
  </div>

  <%= render "devise/shared/footer" %>
</div>
