<div class='wrapper'>
  <%= render 'devise/shared/header' %>

  <div class='lists'>
  <h2>プロフィール</h2>
    <div class='user-data'>
      <h3>名前</h3>
      <%= @user.name %>
    </div>
    <div class='user-data'>
      <h3>部署名</h3>
      <%= @user.department %>
    </div>
    <div class='user-data'>
      <h3>貸し出し中の備品</h3>
      <% @rentals.each do |rental| %>
        <div class='rental-list'>
          <% if current_user.id == rental.user_id %>
            <%= rental.item.name %>
            <%= link_to "返却", item_rental_path(rental.item_id, rental.id), method: :delete, class:'on-loan', id:"rental-#{rental.item.id}" %>
          <% else %>
            <%= rental.item.name %>
            <%= link_to "貸し出し中", user_path(rental.user_id), class:'on-loan' %>
          <% end %>
        </div>
      <% end %>
      <h3>予約状況</h3>
      <% @booking.each do |booking| %>
        <div class='rental-list'>
          <div class='booking-list'>
            <div>
              <%= "備品名 ;" %>
            </div>
            <div class='booking-lists'>
              <%= link_to booking.item.name, item_path(booking.item_id), class:'item-link' %>
            </div>
            <div class='booking-lists'>
              <%= "予約日 ;" %>
            </div>
            <div class='booking-lists'>
              <%= booking.date %>
            </div>
            <% if current_user.id == booking.user_id %>
              <%= link_to "変更", edit_booking_path(booking), class:'booking-edit' %>
              <div>
                <%= link_to "キャンセル", booking_path(booking), method: :delete, class:'on-loan' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if current_user.id == @user.id %>
        <div class='description'>
          <span class="description-font">使い方</span>
            <div class='hover'>
              <div class='hover-text'>
                <p>備品列の<span class='on-loan'>返却</span>を押すと貸し出しできます</p>
                <p>備品列の<span class='booking-edit'>変更</span>を押すと予約の変更ができます</p>
                <p>備品の列の<span class='on-loan'>キャンセル</span>を押すと予約キャンセルできます</p>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class='switch'>
    <%=link_to 'ホームにもどる', root_path, class:'item-switch' %>
  </div>

  <%= render 'devise/shared/footer' %>
</div>
