<%= render "devise/shared/header" %>

<div class='lists'>
  <div class='user-data'>
    <h3>名前</h3>
    <%= @user.name %>
  </div>
  <div class='user-data'>
    <h3>部署名</h3>
    <%= @user.department %>
  </div>
  <div class='user-data'>
    <h3>貸し出し中の備品</h3>
    <% @rentals.each do |rental| %>
      <% if current_user.id == rental.user_id %>
        <%= rental.item.name %>
        <%= link_to "返却", item_rental_path(rental.item_id, rental.id), method: :delete, class:'on-loan' %>
      <% end %>
    <% end %>
  </div>

</div>
<div class="switch">
  <%=link_to 'もどる', root_path, class:"item-switch" %>
</div>

<%= render "devise/shared/footer" %>
