<header class='top-header'>
  <div class='top-space'>
    <h1 class="top-name">貸し出し管理アプリ</h1>
      <ul class="login-list">
        <li><%= link_to '新規登録', new_user_registration_path, class: "login" %></li>
      </ul>
  </div>
</header>

<%= form_with model: @user, url: user_session_path, class: 'registration', local: true do |f| %>
<h2>ログイン</h2>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "finld-line" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "finld-line" %>
  </div>

  <%#if devise_mapping.rememberable? %>
    <%#div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    <%#/div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
<%= render "devise/shared/footer" %>
