<header class='top-header'>
  <div class='top-space'>
    <h1 class="top-name">貸し出し管理アプリ</h1>
  </div>
</header>

<div class="items-main">
  <h2 class="items-title">備品情報入力</h2>
  <%= form_with model: @item, local: true do |f| %>

  <%= render "devise/shared/error_messages", model: f.object %>

  <div class="new-items">
    <div class="weight-bold-text">
      備品ナンバー
      <span class="indispensable-required">必須</span>
    </div>
    <%= f.text_area :number, class: "finld-line" %>
    <div class="weight-bold-text">
      備品名
      <span class="indispensable-required">必須</span>
    </div>
    <%= f.text_area :name, class: "finld-line" %>

    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
    </div>
  </div>
  <% end %>
</div>

<div class="switch">
  <%=link_to 'もどる', root_path, class:"item-switch" %>
</div>

<%= render "devise/shared/footer" %>
