<%= render "devise/shared/header" %>


<div class='item-lists'>
  <% if user_signed_in? %>
    <h2 class='title'>備品一覧</h2>
    <% @items.each do |item| %>
    <ul class="item-summary">
      <li class='list'>
        <%= item.number %>
        <%= link_to item.name, item_path(item) %>
        <% if item.rental != nil %>
          <% if current_user.id == item.rental.user_id %>
            <%= link_to "返却", item_rental_path(item.rental.item_id, item.rental.id), method: :delete, class:'on-loan' %>
          <% else %>
            <%= link_to "返却予定日；  "+item.rental.rental_day, "#", class:'on-loan' %>
          <% end %>
        <% else %>
          <%= link_to "貸し出し可", item_rentals_path(item.id) %>
        <% end %>
      </li>
    </ul>
    <% end %>
  <% end %>
</div>
