
<div class='wrapper'>
  <%= render "devise/shared/header" %>

  <div class="items-main">
    <div class="item-show">
      <h2>
        <%= @item.name %>
      </h2>
      <h3>商品番号</h3>
      <div class="show-font">
        <%= @item.number %>
      </div>
      <h3>カテゴリー</h3>
      <div class="show-font">
        <%= @item.category.name %>
      </div>
    </div>

    <div class='rental-item'>
    <h3>貸し出し状況</h3>
      <% if @item.rental != nil %>
        <ul>
          <li class='item-lists'>
            <div class='show-font'>
              <%= " 名前；" + @item.rental.user.name %>
            </div>
            <div class='show-font'>
              <%= "貸し出し日；" + @item.rental.created_at.to_s(:date_jp) %>
            </div>
            <div class='show-font'>
              <% if current_user.id == @item.rental.user_id %>
                <%= link_to "返却", item_rental_path(@item.rental.item_id, @item.rental.id), method: :delete, class:'on-loan' %>
              <% else %>
                <%= link_to "貸し出し中", user_path(@item.rental.user_id), class:'on-loan' %>
              <% end %>
            </div>
          </li>
        </ul>
      <% else %>
        <%= form_with model: @rental, url: item_rentals_path(@item.id), local: true do |f| %>
          <%= f.submit "貸し出し可" ,class:'rental-path' %>
        <%end %>
      <% end %>
      <h3>予約状況</h3>
      <% @booking.each do |booking| %>
        <div class='rental-list'>
          <div class='booking-list'>
            <div>
              <%= "備品名 ;" %>
            </div>
            <div class='booking-lists'>
              <%= link_to booking.item.name, item_path(booking.item_id), class:'item-link' %>
            </div>
            <div class='booking-lists'>
              <%= "予約日 ;" %>
            </div>
            <div class='booking-lists'>
              <%= booking.date %>
            </div>
            <% if current_user.id == booking.user_id %>
              <%= link_to "変更", edit_booking_path(booking), class:'booking-edit' %>
              <div>
                <%= link_to "キャンセル", booking_path(booking), method: :delete, class:'on-loan' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class='description'>
        <span class="description-font">使い方</span>
          <div class='hover'>
            <div class='hover-font'>
              <p>備品列の<span class='on-loan'>返却</span>を押すと返却できます</p>
              <p>備品列の<span class='booking-edit'>変更</span>を押すと予約の変更ができます</p>
              <p>備品の列の<span class='on-loan'>キャンセル</span>を押すと予約キャンセルできます</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="switch">
    <% if @item.rental == nil %>
      <%= link_to '編集', edit_item_path, method: :get, class: "item-switch" %>
      <%= link_to '削除', item_path, method: :delete, class:'item-switch' %>
    <% end %>
    <%=link_to 'もどる', category_path(@item.category.id), class:"item-switch" %>
  </div>

  <%= render "devise/shared/footer" %>
</div>
