<div class='wrapper'>
  <header class='top-header'>
    <div class='top-space'>
      <h1>
      <%= link_to "貸し出し管理アプリ", root_path, class:"top-name" %>
      </h1>
      <% if user_signed_in? %>
        <ul class="login-list">
          <li><%= link_to '備品の追加', new_item_path, class: "new-item" %></li>
          <li><%= link_to current_user.name, user_path(current_user.id), class: "user-name" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        </ul>
      <% end %>
    </div>
  </header>

  <div class='items-main'>
    <h2>カテゴリーの追加</h2>
    <%= form_with model: @category, local: true do |f| %>

    <%= render "devise/shared/error_messages", model: f.object %>
    <h3>名前</h3>
    <div class='new-items'>
      <%= f.text_area :name, class: 'finld-line' %>
    </div>
    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
    </div>
    <% end %>
  </div>


  <div class="switch">
    <%=link_to 'もどる', root_path, class:"item-switch" %>
  </div>

  <%= render "devise/shared/footer" %>
</div>
