<div class='wrapper'>
  <%= render "devise/shared/header" %>

  <div class='items-main'>
    <div class='item-show'>
      <h2 class='main-title' ><%= @category.name %></h2>
    </div>
    <% if @items.exists? %>
      <h2 class='title'>備品一覧</h2>
      <div class='item-title'>
        <div class='item-number'>
          <h4>備品番号</h4>
        </div>
        <div class='item-name'>
          <h4>備品の名前</h4>
        </div>
        <div class='item-booking'>
          <h4> 予約状況</h4>
        </div>
        <div class='item-rental'>
          <h4>貸し出し状況</h4>
        </div>
      </div>
      <% @items.each do |item| %>
        <ul class="item-summary">
          <li class='item-lists'>
            <div class='item-number'>
              <%= item.number %>
            </div>
            <div class='item-name'>
              <%= link_to item.name, item_path(item), class:'item-link' %>
            </div>
            <div class='item-booking'>
              <% item.bookings.each do |booking| %>
                <% if booking != nil %>
                  <%= link_to "予約中", user_path(booking.user_id), class:'item-booking-link' %>
                <% end %>
              <% end %>
            </div>
            <div class='item-rental'>
              <% if item.rental != nil %>
                <% if current_user.id == item.rental.user_id %>
                  <%= link_to "返却", item_rental_path(item.rental.item_id, item.rental.id), method: :delete, class:'on-loan', id:"rental-#{item.id}" %>
                <% else %>
                  <%= link_to "貸し出し中", user_path(item.rental.user_id), class:'on-loan', id:"rental-#{item.id}" %>
                <% end %>
              <% else %>
                <%= form_with model: @rental, url: item_rentals_path(item.id), local: true do |f| %>
                  <%= f.submit "貸し出し可" ,class:'rental-path', id:"rental-#{item.id}" %>
                <% end %>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
      <div class='description'>
        <span class="description-font">使い方</span>
          <div class='hover'>
            <div class='hover-text'>
              <p>備品の列の<span class='rental-path'>貸し出し可</span>を押すと貸し出しできます</p>
              <p>備品列の<span class='on-loan'>返却</span>を押すと返却できます</p>
              <p>備品列の<span class='on-loan'>貸し出し中</span>を押すと借りている人のプロフィールが見れます</p>
              <p>備品の列の<span class='item-booking-link'>予約中</span>を押すと予約している人のプロフィールが見れます</p>
            </div>
          </div>
      </div>
    <% else %>
    <h2>備品を登録してください</h2>
    <% end %>
  </div>

  <div class="switch">
    <%= link_to '編集', edit_category_path, method: :get, class: "item-switch" %>
    <%=link_to 'ホームにもどる', root_path, class:"item-switch" %>
  </div>

  <%= render "devise/shared/footer" %>
</div>
